body {
  margin: 0;
  padding: 0;
  /* background-image : url("bike.jpg"); */
  background: #0f1626;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Alegreya", serif;
}

#error {
  color: #ece90a;
  margin-top: 1em;
  font-weight: bolder;
}

.container_login,
.form_container {
  display: grid;
  place-items: center;
  color: #ece90a;
  /* display: none; */
}

#box {
  width: 100%;
  max-width: 500px;
  border: 1px solid #ece90a;
  border-radius: 25px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  height: 270px;
  display: grid;
  place-items: center;
  text-align: center;
}

#box_register {
  width: 100%;
  max-width: 500px;
  border: 1px solid #ece90a;
  border-radius: 25px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  height: 400x;
  display: grid;
  place-items: center;
  text-align: center;
}

#box form table tbody tr,
#box_register form table tbody tr {
  color: #ece90a;
  text-align: center;
  font-size: x-large;
  text-transform: uppercase;
}

#box form table tbody tr td input,
#box_register form table tbody tr td input {
  background-color: #ece90a;
  text-align: center;
  height: 35px;
  width: 200px;
  font-family: "Alegreya", serif;
  font-size: x-large;
  border-radius: 20px;
}

#error {
  color: red;
}

.btn_log {
  text-transform: uppercase;
}

.grid-container {
  max-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "container-from proposal_station_from free_bikes  container_reservation"
    "container_to proposal_station_to free_bornes container_reservation";
}

.navbar {
  grid-area: navbar;
  width: 100vw;
  height: 3rem;
  display: none;
}

.container_from {
  grid-area: container-from;
  min-width: 300px;
  min-height: 250px;
  border: 1px solid #ab987a;
  border-radius: 5px;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  color: #ff533d;
  font-family: "Alegreya", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: grid;
  place-items: center;
  text-align: center;
  display: none;
}

.container_to {
  grid-area: container_to;
  min-width: 300px;
  min-height: 250px;
  border: 1px solid #ab987a;
  border-radius: 5px;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  color: #ff533d;
  font-family: "Alegreya", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: grid;
  place-items: center;
  text-align: center;
  display: none;
}

.proposal_station_from {
  grid-area: proposal_station_from;
  min-width: 300px;
  height: 250px;
  border: 1px solid #ab987a;
  border-radius: 5px;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  color: #ff533d;
  font-family: "Alegreya", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: grid;
  place-items: center;
  text-align: center;
  display: none;
}

.proposal_station_to {
  grid-area: proposal_station_to;
  min-width: 300px;
  height: 250px;
  border: 1px solid #ab987a;
  border-radius: 5px;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  color: #ff533d;
  font-family: "Alegreya", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: grid;
  place-items: center;
  text-align: center;
  display: none;
}

.free_bikes {
  grid-area: free_bikes;
  min-width: 300px;
  height: 250px;
  border: 1px solid #ab987a;
  border-radius: 5px;
  margin: 0;
  padding: 0 0px;
  box-sizing: border-box;
  color: #ff533d;
  font-family: "Alegreya", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: grid;
  place-items: center;
  text-align: center;
  display: none;
}

.free_bornes {
  grid-area: free_bornes;
  min-width: 300px;
  height: 250px;
  border: 1px solid #ab987a;
  border-radius: 5px;
  margin: 0;
  padding: 0 0px;
  box-sizing: border-box;
  color: #ff533d;
  font-family: "Alegreya", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: grid;
  place-items: center;
  text-align: center;
  display: none;
}
.container_reservation {
  grid-area: container_reservation;
  min-width: 300px;
  height: 500px;
  border: 1px solid #ab987a;
  border-radius: 5px;
  margin: 0;
  padding: 0 0px;
  box-sizing: border-box;
  color: #ff533d;
  font-family: "Alegreya", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: grid;
  place-items: center;
  text-align: center;
  display: none;
}

#navbar_a {
  display: flex;
  justify-content: space-between;
  color: #ece90a;
  font-family: "Alegreya", serif;
  font-weight: bold;
  text-transform: uppercase;
}
#btn_input_to,
#btn_input_from {
  margin-top: 5px;
  border-radius: 20px;
  padding: 10px 0;
  background-color: #ece90a;
  color: #0f1626;
}
h3 {
  color: #ece90a;
}
#start_x,
#start_y,
#arrival_x,
#arrival_y {
  background-color: #ece90a;
  text-align: center;
  height: 35px;
  width: 200px;
  font-family: "Alegreya", serif;
  font-size: xx-large;
}
label {
  font-weight: bold;
}
#table_near_station_from,
#table_near_station_to {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  text-align: center;
  font-family: "Alegreya", serif;
  border-collapse: collapse;
}
#table_near_station_from th,
#table_near_station_to th {
  color: #ff533d;
}
#table_near_station_from td,
#table_near_station_to td {
  color: #ece90a;
}

#table_bikes_available,
#table_bornes_available {
  text-align: center;
  width: 100%;
}
#table_bikes_available th,
#table_bornes_available th {
  color: #ff533d;
}
#table_bikes_available td,
#table_bornes_available td {
  color: #ece90a;
}
#table_resa_start,
#table_resa_arrival {
  margin-top: 10px;
  padding-left: 15px;
  width: 100%;
  height: 100px;
  text-align: left;
  font-family: "Alegreya", serif;
  border-collapse: collapse;
  display: none;
}
#table_resa_start th,
#table_resa_arrival th {
  color: #ff533d;
}
#table_resa_start td,
#table_resa_arrival td {
  color: #ece90a;
  width: 50%;
}
.near_station_from tr {
  width: 100px;
}
#station_start,
#station_arrival {
  cursor: pointer;
  color: #ece90a;
}
#sn_bike,
#click_borne {
  cursor: pointer;
}
a:link,
a:visited {
  padding-top: 20px;
  text-decoration: none;
  color: #ece90a;
  cursor: pointer;
}
.cb {
  display: grid;
  place-items: center;
  text-align: center;
  width: 100%;
  display: none;
}
#table_cb {
  display: grid;
  place-items: center;
  text-align: center;
  color: #ff533d;
  font-weight: bold;
}
#table_cb input {
  background-color: #ece90a;
  font-family: "Alegreya", serif;
  text-align: center;
  width: 100%;
}

#reservation_submit {
  color: #0f1626;
  text-transform: uppercase;
  font-weight: bold;
}
.confirmation {
  width: 100%;
  max-width: 500px;
  border: 1px solid #ece90a;
  border-radius: 25px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  height: 270px;
  display: grid;
  place-items: center;
  text-align: center;
  display: none;
}
.confirmation_ul {
  padding-inline-start: 0;
  list-style: none;
  color: #ff533d;
  font-weight: bold;
  font-size: 17px;
  display: grid;
  place-items: center;
  text-align: center;
}
